#title{
    font-size: smaller;
}

#img{
    width: 100%;
    height: 185px;
    
}

#password {
    text-align: center;
}

#password a{
    color: purple;
}


#button{
    color: white;
    --background: rgb(241, 206, 7);
}