<ion-header>
  <ion-toolbar>
    <img src="assets/img/2.jpg" alt="" id="img">
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding-vertical">
    <!-- <img src="assets/img/2.jpg" alt="" id="img"> -->
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="usuario.nombreUsuario"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-button shape="block" id="button" (click)="ingresar()">Ingresar</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <br>
      <div id="password">
      <ion-label>
        <a routerLink="/password">¿Has olvidado tu contraseña?</a>
      </ion-label>
    </div>
   </div>
</ion-content>
