<ion-header><ion-toolbar color="primary">
  <ion-title #titulo class="ion-text-left ion-text">
    <div>
      ERROR 404
    </div>
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top">
    <ion-label>
        <h1 class="ion-text-center">¡Oops, ha ocurrido un error!</h1>
        <p>¡Esta pagina no existe!</p>
    </ion-label>
  </ion-title>  
<ion-content>

  <!-- Con ionic cordova run browser no funciona el 404 -->