<ion-header>
  <ion-toolbar color="primary">
    <ion-title #titulo class="ion-text-left ion-text">
      <div>
        Registro DUOC
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top">
    <ion-label>
        <h1 class="ion-text-center">¡Bienvenido!</h1>
        <p *ngIf="usuario">Usuario: {{ usuario.nombreUsuario }}</p>
    </ion-label>
  </ion-title>
  
<ion-content>

  <!-- Trigger the file input -->

  <ion-button color="dark" expand="full" (click)="startScan()">
    <ion-icon slot="start" name="qr-scanner"></ion-icon>
    Escanear codigo QR
  </ion-button>

  <ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Limpiar
  </ion-button>

  <!-- Shows our camera stream -->
  <video #video [hidden]="!scanActive" width="100%"></video>

  <!-- Used to render the camera stream images -->
  <canvas #canvas hidden></canvas>

  <!-- Stop our scanner preview if active -->
  <ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
    <ion-icon slot="start" name="close"></ion-icon>
    Parar escanner
  </ion-button>

  <ion-card *ngIf="scanResult">
    <ion-card-header>
      <ion-card-title>QR Code</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{ scanResult }} </ion-card-content>
  </ion-card>
</ion-content>
