<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Ir a Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-card-title class="ion-text-left">
      <ion-label>
        <h2>Restablecer contraseña</h2>
      </ion-label>
    </ion-card-title>

    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="usuario.email"
        placeholder="Escriba su nombre de usuario"
      ></ion-input>
    </ion-item>
    <br />

    <br />
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="ingresar()" expand="full" fill="clear" shape="round">
          Enviar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-content>
